.root {
    -fx-background-image: url("background.jpg");

}

.goldRoot {
    -fx-background-image: url("goldBackground.jpg");
}

.label {
    -fx-text-fill: #FFF;
    -fx-label-padding: 8px;
    -fx-font-size: 15px;
    -fx-font-weight: 200;
}

#menuRoot {
    -fx-background-image: url("menuBackground.jpg");
}